In [11]:
import pandas as pd

In [12]:
df=pd.read_csv("tmdb_5000_credits.csv")

In [13]:
df

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [14]:
import ast #allows you to parse, analyze, and manipulate Python code programmatically

In [15]:
def convert3(text):
    l=[]
    for i in ast.literal_eval(text):
        l.append(i["name"])
    return l

In [16]:
df['cast']=df['cast'].apply(convert3)

In [17]:
df

,movie_id,title,cast,crew
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[Edward Burns, Kerry BishÃ©, Marsha Dietlein, C...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[Daniel Henney, Eliza Coupe, Bill Paxton, Alan...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[Drew Barrymore, Brian Herzlinger, Corey Feldm...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [18]:
def fetch_director(text):
    l=[]
    for i in ast.literal_eval(text):
        if i['job']=='Director':
            l.append(i['name'])
    return l

In [19]:
df['crew']=df['crew'].apply(fetch_director)

In [20]:
df

,movie_id,title,cast,crew
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]
...,...,...,...,...
4798,9367,El Mariachi,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez]
4799,72766,Newlyweds,"[Edward Burns, Kerry BishÃ©, Marsha Dietlein, C...",[Edward Burns]
4800,231617,"Signed, Sealed, Delivered","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...",[Scott Smith]
4801,126186,Shanghai Calling,"[Daniel Henney, Eliza Coupe, Bill Paxton, Alan...",[Daniel Hsia]
4802,25975,My Date with Drew,"[Drew Barrymore, Brian Herzlinger, Corey Feldm...","[Brian Herzlinger, Jon Gunn, Brett Winn]"

In [21]:
df['tag']=df['cast']+df['crew']

In [22]:
df=df.drop(columns=['cast','crew'])

In [23]:
df

,movie_id,title,tag
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave..."
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ..."
2,206647,Spectre,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R..."
3,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A..."
4,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,..."
...,...,...,...
4798,9367,El Mariachi,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua..."
4799,72766,Newlyweds,"[Edward Burns, Kerry BishÃ©, Marsha Dietlein, C..."
4800,231617,"Signed, Sealed, Delivered","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo..."
4801,126186,Shanghai Calling,"[Daniel Henney, Eliza Coupe, Bill Paxton, Alan..."
4802,25975,My Date with Drew,"[Drew Barrymore, Brian Herzlinger, Corey Feldm..."

In [24]:

df['tag'] = df['tag'].apply(lambda x: " ".join(x) if isinstance(x, list) else str(x))

In [25]:
df

,movie_id,title,tag
0,19995,Avatar,Sam Worthington Zoe Saldana Sigourney Weaver S...
1,285,Pirates of the Caribbean: At World's End,Johnny Depp Orlando Bloom Keira Knightley Stel...
2,206647,Spectre,Daniel Craig Christoph Waltz LÃ©a Seydoux Ralph...
3,49026,The Dark Knight Rises,Christian Bale Michael Caine Gary Oldman Anne ...
4,49529,John Carter,Taylor Kitsch Lynn Collins Samantha Morton Wil...
...,...,...,...
4798,9367,El Mariachi,Carlos Gallardo Jaime de Hoyos Peter Marquardt...
4799,72766,Newlyweds,Edward Burns Kerry BishÃ© Marsha Dietlein Caitl...
4800,231617,"Signed, Sealed, Delivered",Eric Mabius Kristin Booth Crystal Lowe Geoff G...
4801,126186,Shanghai Calling,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...
4802,25975,My Date with Drew,Drew Barrymore Brian Herzlinger Corey Feldman ...

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [27]:
vector=cv.fit_transform(df['tag']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [29]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)

In [30]:
df[df['title']=='The Lego Movie'].index[0]

np.int64(744)

In [31]:
def recommend(movie):
    index = df[df['title'] == movie].index[0]  # Find the index of the movie
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])  # Sort movies by similarity
    for i in distances[1:6]:  # Loop through the top 5 most similar movies
        print(df.iloc[i[0]].title)  # Print the titles of those movies

In [32]:
#enumerate(similarity[index]): This adds an index to each similarity score, so we can know which movie each similarity score corresponds

In [33]:
recommend('Gandhi')

Sands of Iwo Jima
The Empire Strikes Back
Public Enemies
Superman
Animals

In [34]:
recommend('Gandhi')

Sands of Iwo Jima
The Empire Strikes Back
Public Enemies
Superman
Animals

In [35]:
recommend('Spectre')

Skyfall
The Dark Knight
Forrest Gump
Casino Royale
Now You See Me 2

In [36]:
recommend('Shanghai Calling')

Fateless
A LEGO Brickumentary
The Beach
Bubba Ho-tep
August